<section id="contactos">
            <div><img src="https://image.flaticon.com/icons/png/512/3203/3203071.png"  height="30px" width="30px"> <strong>DIRECCIÓN</strong></div>
            <p>Antonia Vela y Pastaza</p>
            <div><img src="https://image.flaticon.com/icons/png/512/1932/1932699.png"  height="30px" width="30px"> <strong>EMAIL</strong></div>
            <p><a href="mailto:skate_infinity@gmail.com">skate_infinity@gmail.com</a></p>
            <div><img src="https://image.flaticon.com/icons/png/512/2934/2934394.png"  height="30px" width="30px"> <strong>TELÉFONO</strong></div>
            <p><a href="tel:098 790 9766">0987909766</a></p>   
</section>