<!DOCTYPE html>
<html lang="en">
<section id="seccion_infromacion">
          <div class="imagen"> <br></div> 
          <div class="informacion">
              <h1 id="title">Acerca de Nosotros</h1>
              <h2>SK∞ the Infinity </h2>
              <p>SK∞ the Infinity es una tienda dedicada a la venta de patinetas de primera calidad. Cuenta con una gran variedad de modelos y colores.</p>
              <p>Disponemos de expertos que te ayudarán a elegir la patineta que más se adpate a ti. </p>
              <button>MÁS INFORMACION</button>
         </div>
</section>