 
 <section id="productos">
    <div id="info_productos">
        <h1 id="title">Revisa</h1>
        <h2>NUESTROS <br>PRODUCTOS</h2>
        <p> Patinetas útimo modelo con gran variedad de diseños y colores a comodos precios</p>
        <button>INVENTARIO</button>
    </div>
   <!-- <div id="img_producto"><img src="imagenes/prod1.jpg"  height="150px" width="100px"><br> <br>Dibin<br> <br> $34.00 </div>
    <div id="img_producto"><img src="imagenes/prod2.jpg"  height="150px" width="100px"> <br> <br>Clásica<br><br> $50.00 </div>
    <div id="img_producto"><img src="imagenes/pord3.jpg"  height="150px" width="100px"><br> <br>Longboard<br> <br> $80.00 </div>-->
    {{getProducto}}
</section>